<nav class="navbar navbar-light">
    <div class="container-fuid">
        <h2 style="text-align: center;">Food Delivery Application</h2>
    </div>
</nav>
<img src= "https://ae04.alicdn.com/kf/HTB1NjMiknmWBKNjSZFBq6xxUFXaD.jpg" width="600" height="400">
<img src= "https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80" width="600" height="400"><br>
<img src= "https://thumbs.dreamstime.com/b/cozy-restaurant-tables-ready-dinner-39875776.jpg" width="600" height="400">
<img src= "https://m.media-amazon.com/images/I/61IHLDjNYoL._SL1000_.jpg" width="600" height="400">

<div class="card">
    <div class="text-center">
        <h1 style="color: wheat">Food Delivery Application</h1><br>
        <p>This application will allow you to browse various restaurents and the menus available in those.</p>
        <h5>Feel Free to Login</h5><hr><br>
        <button routerLink="/signup" class="btn btn-success mx-3">Signup</button>
        <button routerLink="/login" class="btn btn-success mx-3">Login</button>
    </div>
</div>
